tests/sse_nodered_native.json
[{"id":"inj1","type":"inject","z":"a02e63a54cc2a9a5","name":"Start SSE","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":960,"wires":[["sse_func"]]},{"id":"sse_func","type":"function","z":"a02e63a54cc2a9a5","name":"SSE Client","func":"var options = {\n    hostname: \"10.1.32.20\",\n    port: 81,\n    path: \"/api/events?subscribe=registers&coils=0-255&hr=0-31&di=0-255&ir=0-31\",\n    method: \"GET\",\n    headers: {\n        \"Authorization\": \"Basic YXBpX3VzZXI6ITIzUGFzc3dvcmQ=\"\n    }\n};\n\nvar currentEvent = \"\";\nvar req = http.request(options, function(res) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n    var buffer = \"\";\n    res.on(\"data\", function(chunk) {\n        buffer += chunk.toString();\n        var lines = buffer.split(String.fromCharCode(10));\n        buffer = lines.pop();\n        for (var i = 0; i < lines.length; i++) {\n            var line = lines[i].trim();\n            if (line.indexOf(\"event: \") === 0) {\n                currentEvent = line.substring(7);\n            }\n            if (line.indexOf(\"data: \") === 0 && currentEvent === \"register\") {\n                try {\n                    var data = JSON.parse(line.substring(6));\n                    var typeMap = {\n                        \"hr\": \"holding\",\n                        \"ir\": \"input\",\n                        \"coil\": \"coils\",\n                        \"di\": \"dis input\"\n                    };\n                    node.send({\n                        payload: {\n                            register: data.addr,\n                            value: data.value,\n                            type: typeMap[data.type] || data.type\n                        }\n                    });\n                } catch(e) {}\n            }\n        }\n    });\n    res.on(\"end\", function() {\n        node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n    });\n});\n\nreq.on(\"error\", function(e) {\n    node.status({fill:\"red\",shape:\"ring\",text:e.message});\n    node.error(e.message);\n});\n\nreq.end();","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"http","module":"http"}],"x":400,"y":960,"wires":[["dbg1"]]},{"id":"dbg1","type":"debug","z":"a02e63a54cc2a9a5","name":"SSE Events","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":960,"wires":[]}]